body {
  margin: 0;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: url("/vite-project/public/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

html {
  --s: 100px;
  /* control the size*/
  --c1: #4ecdc4;
  --c2: #556270;

  background:
    linear-gradient(atan(-.5), var(--c1) 33%, var(--c2) 33.5% 66.5%, var(--c1) 67%) 0/var(--s) var(--s);
}

/* --- NUEVO: separación entre inputs y botón --- */
form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  background-color: #1f926f;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #177659;
}

.text-center {
  text-align: center;
}

.titulo-central {
  text-align: center;
  color: #e4eee7;
  font-size: 2rem;
  margin-top: 20px;
}

.leads-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #4ecdc4;
}

.leads-table th,
.leads-table td {
  padding: 10px 15px;
  /* --- NUEVO: espacio interno en celdas --- */
  text-align: center;
  border: 1px solid #ccc;
  /* Línea tipo Excel */
}

.leads-table-body {
  background-color: #f9f9f9;
  color: #333;
}